<section class="home">

  <div class="form-container">

    <form action='/artist-search' method='GET'>

      <label for='q'>
      {{!-- I'm searching for a cinema --}}
      </label>
      <input type='text' name='q' id='q' placeholder='Sunineye' />

      <input type='submit' value='Search for an Artist' />
    </form>
    
  </div>
</section>